<div class="container">   
  
  <div class="row center-align mt4">
    <h5 class="mb2">¿Cómo podemos ayudarte?</h5>  
    <div class="col s12 m10 offset-m1">
      <ul id="tabs-quiero" class="tabs left-align"> 
        <li class="tab" [ngClass]="{'activo':tabActive==='trabajar'}"><a (click)="cambiarTab('trabajar')" class="active">Quiero trabajar</a></li>
        <li class="tab" [ngClass]="{'activo':tabActive==='contratar'}" class="tab"><a (click)="cambiarTab('contratar')">Quiero contratar</a></li>            
      </ul>
      <div class="divider"></div>  
    </div> 
  </div>
  <app-trabajador id="trabajar" *ngIf="tabActive==='trabajar'"></app-trabajador>
  <app-cliente id="contratar" *ngIf="tabActive==='contratar'"></app-cliente>
</div>