<div class="row mt4">
    <div class="right col s12 m2 offset-m1">        
        <a class="waves-effect red white-text btn" [routerLink]="['/perfil']">Volver</a> 
    </div>
  <div *ngIf="!status || status==''" class="col s10 offset-s1 center-align">
    <h5>Formulario de datos laborales</h5>
    <div class="divider"></div>
      <form [formGroup]="experienciaForm" id="experienciaForm" (ngSubmit)="submitFormExperiencia();" class="col s12 mt4" validate>
        <div class="row">
          <div class="input-field col s12 m6">
              <i class="fas fa-user-cog prefix"></i>
            <mat-select placeholder="Tipo Destreza" formControlName="tipo_habilidad" name="tipo_habilidad">
              <mat-option  value="Pintura"> Pintura</mat-option>
              <mat-option  value="Construccion"> Albañilería</mat-option>
              <mat-option  value="Fontaneria"> Fontanería</mat-option>
              <mat-option  value="Electricidad"> Electricidad</mat-option>
              <mat-option  value="Carpinteria"> Carpintería</mat-option>
            </mat-select>
            <div *ngIf="experienciaForm.controls.tipo_habilidad.invalid && experienciaForm.controls.tipo_habilidad.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> La destreza es un campo obligatoria.
            </div>
          </div>            
          <div class="input-field col s12 m6">
              <i class="material-icons prefix">date_range </i>
            <input id="year" type="number" formControlName="year" min="0" max="30">
            <label for="year">Años de Experiencia</label>
            <div *ngIf="experienciaForm.controls.year.invalid && experienciaForm.controls.year.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Los años de experiencia  es un campo obligatoria.
            </div>
          </div>
        </div> 
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">wrap_text</i>
                <textarea id="descripcion" class="materialize-textarea" name="descripcion" formControlName="descripcion" required></textarea>
                <label for="descripcion">Escriba una descripcion ...</label>
                <div *ngIf="experienciaForm.controls.descripcion.invalid && experienciaForm.controls.descripcion.touched" class="red-text center-align">
                  <i class="fas fa-exclamation-circle"></i> La descripción es un campo obligatorio
                </div>
              </div>  
        </div> 
        <div class="row">
          <div class="input-field col s12 m6">
              <i class="far fa-money-bill-alt prefix"></i> 
            <input id="salario_hora" type="number" formControlName="salario_hora" min="0">
            <label for="salario_hora">Salario por hora</label>
            <div *ngIf="experienciaForm.controls.salario_hora.invalid && experienciaForm.controls.salario_hora.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> El salario por hora  es un campo obligatoria.
            </div>
          </div>        
          <div class="input-field col s12 m6">
              <i class="fas fa-project-diagram prefix"></i> 
            <mat-select placeholder="Tipo Trabajo" formControlName="tipo_trabajo" name="tipo_trabajo">
              <mat-option  value="proyecto"> Por proyecto</mat-option>
              <mat-option  value="hora"> Por hora</mat-option>
            </mat-select>
            <div *ngIf="experienciaForm.controls.tipo_trabajo.invalid && experienciaForm.controls.tipo_trabajo.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> El tipo de trabajo es un campo obligatoria.
            </div>
          </div>
        </div>              
        <div class="row">              
          <div class="col s12 m10 offset-m1">
            <p class="col s12 center-align"><button class="waves-effect waves-red btn red" type="submit" [disabled]="experienciaForm.invalid">Actualizar Perfil laboral</button></p>               
          </div>      
        </div>
      </form>
    </div>
    
  <div *ngIf="status && status!==''">
      <div *ngIf="status && status=='error'" class="red-text center-align">
          <i class="fas fa-exclamation-circle"></i> No se ha enviado fallo en el servidor. Intenterlo mas tarde.
        </div>
        <div *ngIf="status && status=='success'" class="green-text center-align">
          <i class="fas fa-exclamation-circle"></i> Se ha actualizado el perfil correctamente, Visualizalo en <a [routerLink]="['/perfil']">Ver Perfil</a> 
        </div>
  </div>
</div>

