
.page-footer .footer-copyright {
    background-color: #e57373;
}

li {
    margin-top:0.5rem;
}

li a i {
    margin-right: 0.5rem; 
}

.brand-logo img{
    height: 90px;
    
    width: 90px;
}

.brand-logo span{
    font-size:1.2rem;
    position: relative;
    bottom: 30px;    
}
.brand-logo span:first-of-type{
  
    
}