<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          
          <span  class="brand-logo"> <span>TU</span><img src="./assets/icon/logo1.png" alt="" ><span>REFORMA</span></span>
          <hr>
          <p class="grey-text text-lighten-4">Todo tipo de reformas. Tu imaginación es el límite.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Navegacion</h5>
          <hr>
          <ul>
            <li><a [routerLink]="['/']" class="white-text"><i class="fas fa-home"></i>Inicio</a></li>
            <li><a [routerLink]="['/autonomos']" class="white-text"><i class="fas fa-user-astronaut"></i>Autónomos</a></li>
            <li><a [routerLink]="['/proyectos']" class="white-text"><i class="fas fa-thumbtack"></i>Proyectos</a></li>
            <li><a [routerLink]="['/como_funciona']" class="white-text"><i class="fas fa-id-card-alt"></i>¿Cómo Funciona?</a></li>
            <li><a [routerLink]="['/contacto']" class="white-text"><i class="far fa-address-book"></i>Contacte</a></li>            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
