<div class="row mt2">
  <div class="col s12 m4 l4">
    <app-filtro (filtrar)="recibirFiltros($event)"></app-filtro>
  </div>
  <div class="col s12 m8">
  <h5 class="center-align">Listado de autonomos</h5>
  <div class="divider"></div>
  <div class="col s12 mt2">
      <div class="col s12 m6 l4" *ngFor="let autonomo of autonomosList | autonomosFiltro:filtros" >
          <div class="card">            
            <div class="card-image waves-effect waves-block waves-light" [ngSwitch]="autonomo.experiencia.tipo_habilidad">                            
              <img *ngIf="autonomo.avatar" src="{{url+'get-image-user/'+autonomo.avatar}}">
              <img *ngIf="!autonomo.avatar" src="assets/main/personal/personal1.jpg">             
             
              <!-- ICONOS DE CATEGORIA -->
              <span *ngSwitchCase="'Pintura'" class="categoria amber lighten-2 white-text z-depth-1"><i  class="fas fa-paint-brush"></i></span>
              <span *ngSwitchCase="'Construccion'" class="categoria green accent-2 white-text z-depth-1"><i class="fas fa-gavel"></i></span>
              <span *ngSwitchCase="'Fontaneria'" class="categoria light-blue accent-3 white-text z-depth-1"> <i class="fas fa-wrench"></i> </span>
              <span *ngSwitchCase="'Electricidad'" class="categoria pink accent-3 darken-3 white-text z-depth-1"> <i class="fas fa-plug"></i></span>
              <span *ngSwitchCase="'Carpinteria'" class="categoria purple white-text z-depth-1"><i class="fas fa-screwdriver"></i></span>
              <!-- FIN  ICONOS DE CATEGORIA -->
              
              <h6 class="card-title">{{autonomo.perfil.nombre}}, {{autonomo.perfil.apellidos}}</h6>
            </div>
            <div class="card-content pb2">
                
                <p id="precio">
                  <i class="fas fa-money-bill-wave prefix"></i> {{autonomo.experiencia.salario_hora}}€/hora
                  <span *ngIf="isCliente()" class="btn-floating waves-effect waves-light red activator right ml2"><i class="fas fa-info"></i></span>
                </p>               
                <p class="mt2"><i class="fas fa-user-cog"></i> {{autonomo.experiencia.tipo_habilidad}}</p>
                <p class="mt2 left"><i class="fas fa-map-marker-alt prefix"></i> {{autonomo.perfil.provincia}} </p>
                <!-- p class="mt4"><span><i class="far fa-thumbs-up prefix green-text" (click)="aumentarLike();"></i> 0 like</span> <span><i class="far fa-thumbs-down prefix red-text"></i>0 like</span></p-->
            </div>
            <div *ngIf="isCliente()" class="card-action center-align">
              <a class="waves-effect btn red lighten-2 white-text" [routerLink]="['/mensajes/enviar/'+autonomo._id]">Enviar Mensaje</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{autonomo.perfil.nombre}}, {{autonomo.perfil.apellidos}}<i class="material-icons right">close</i></span>
                <p class="center-align white-text cyan">datos contacto</p>
               
                <p><i class="far fa-envelope prefix"></i> {{autonomo.email}}</p>
                <hr>
                <p><i class="fas fa-phone prefix"></i> {{autonomo.perfil.telefono}}</p>
                <hr>
                <p><i class="fas fa-mobile-alt prefix"></i> {{autonomo.perfil.movil}}</p>
                <p><i class="fas fa-map-marker-alt prefix"></i> {{autonomo.perfil.direccion}} - {{autonomo.perfil.localidad}} - {{autonomo.perfil.provincia}} - {{autonomo.perfil.comunidad}}</p>
                <p class="center-align white-text cyan">datos laborales</p>
                <p> <i class="far fa-id-card"></i> {{autonomo.perfil.cif}}</p>
                <hr>
                <p>{{autonomo.experiencia.tipo_habilidad}} / Exp.{{autonomo.experiencia.year}}años</p>
                <hr>
                <p>{{autonomo.experiencia.descripcion}}</p>
              
                <p></p>
              </div>
          </div>
        </div>
          
  </div>
</div>  


</div>

