.card img{
    height: 200px;
    opacity: 1.1;
}
.card h6{
    margin-bottom: 0px;
    background: rgba(0,0,0,0.5);
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.card .card-content {
    padding-bottom: 48px;
}
.card .card-content p{
    font-size: 1.1rem;
}
.card .card-content span i{
    font-size:2rem;
    
    cursor: pointer;
    
}

.card .card-content span{
    font-size:1.2rem;
}    

.card .card-content p:last-of-type{
    text-align: right;
}
.card .cart-action{
    margin-top:30px;
    padding:10px;
    padding:10px;
}
.categoria{
    font-size: 2.5rem;
    position: absolute;
    top:0px;
    padding-right: 8px; 
    padding-left: 8px;   
}
