<div  class="row" id="principal-filtro">
  <h5 class="center">Selecione para filtrar</h5>
  <div class="divider"></div> 
    <div class="input-field col s6 m10 offset-m1">
      <mat-select placeholder="Categoria" [(ngModel)]="categoria" >
        <mat-option value="Pintura">Pintura</mat-option>
        <mat-option value="Fontaneria">Fontaneria</mat-option>
        <mat-option value="Electricidad">Electricidad</mat-option>
        <mat-option value="Contruccion">Albañilería</mat-option>
        <mat-option value="Carpinteria">Carpintería</mat-option>
      </mat-select>   
    </div>
  <div class="input-field col s12 m10 offset-m1">   
   
      <div  *ngIf="isCliente()" class="row">
        <div class="input-field col s6">
          <input id="precio_min" type="number" min=0 [(ngModel)]="precio_min" class="validate" required>
          <label for="precio_min">Precio Mínimo</label>
        </div>
        <div  class="input-field col s6">
          <input  id="precio_max" type="number" min="precio_min" [(ngModel)]="precio_max" class="validate" required>
          <label for="precio_max">Precio Máximo</label>
        </div>          
    </div> 
    <div class="row">
      <div class="input-field col s6 m10 offset-m1">
        <mat-select placeholder="Provincia" [(ngModel)]="provincia" name="provincia">
          <mat-option *ngFor="let provinciaS of provincias"  [value]="provinciaS">
            {{provinciaS}}
          </mat-option>
        </mat-select>
      </div>
    </div>
      <button class="btn-small waves-effect red white-text left " (click)="enviarFiltro($event)">Filtrar</button>
      <button class="btn-small waves-effect red white-text right" (click)="resetFiltro()">Reset</button>
  
    
    
  </div>  
</div>      