#pasos-cliente span i {
    font-size:2rem;
    padding: 10px;
    background-color: rgba(245, 237, 237, 0.493);   
    color:rgb(241, 108, 103);
} 

#pasos-cliente span {
    margin-right: 2%;
}   

