<div class="row center-align mt4 fadeInLeft animated">
    <div class="col s10 offset-s1 m6 l5 offset-l1">
        <img src="assets/main/descripcion.jpg" alt="" class="responsive-img z-depth-1">
      </div>
  <div class="col s12 m6 l5">
      <h5>¿Que proyecto quieres realizar?</h5>
      <div class="divider mt-2"></div>
      <p  class="left-align">Tenemos una amplia cantidad de expertos en realizar todo tipo de proyectos. En unos sencillos pasos podras realizar una propuesta de proyecto. Y en minutos empezar a recibir presupuestos</p>
      <a [routerLink]="['/autonomos']" class="btn waves-effect waves-yellow red darken-2">Buscar Proyecto</a>
  </div>    
  
  <hr class="col s12 mt4 mb2">

  <div class="col s12">
    <h5 class="mb2">Indíca los detalles de su proyecto y nuestros contratistas se encargaran de presentarte su presupuesto.</h5>
    <div class="row">
      <div class="col s12 m4">
        <div class="card-panel red lighten-5 grey-text ">
          <span class="row">
              <i class="fas fa-chart-bar"></i>
          </span>       
          <span class="">
            Describe el tamaño de tu proyecto, aceptamos todo tipo de tamaños
            pequeños, intermendios y grandes.
          </span>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel green lighten-5 grey-text">
            <span class="row">
                <i class="fas fa-money-bill-alt"></i>
            </span>
          <span class="">
            Ajusta tu presupuesto a lo que mas te interse. Elige entre
            trabajos con precio fijo o por horas.
          </span>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel blue lighten-5 grey-text">
          <span class="row">
              <i class="far fa-calendar-alt"></i>
          </span>                    
          <span class="text-left">
            Especifica las caracteristicas de tu proyecto para agilizar el proceso de seleción.
          </span>
        </div>
      </div>
    </div>
  </div>  
</div>
<hr>

<div class="row mt2" id="pasos-cliente">
  <h5 class="center-align">Sigue los siguientes pasos para realizar tu proyecto.</h5>
  <mat-vertical-stepper class="col s12 m10 l8" #stepper>
    <mat-step>
      <ng-template matStepLabel>Registrate</ng-template>
      <div class="row">
        <span class="col s1"><i class="far fa-address-card circle"></i></span> 
        <span class="col s10">Rellena nuestro formulario para registro, son solo unos pocos pasos.</span>      
      </div>        
        
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Crea un nuevo proyecto</ng-template>
      <div class="row">
        <span class="col s1"><i class="fab fa-wpforms circle"></i></span> 
        <span class="col s10">Rellena nuestro formulario de creacion de proyecto y pon todo lo relevante para facilitar la busquedad y obtener presupuestos lo antes posible.</span>      
      </div>  
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Recibe peticiones</ng-template>
      <div class="row">
          <span class="col s1"><i class="fas fa-binoculars circle"></i></span> 
          <span class="col s10"> Se pondran en contacto contigo y podras consultar el perfil de cada autónmo para que elijas la opción más pertinenete.</span>      
      </div>      
    </mat-step>
    
    
  </mat-vertical-stepper>
  <img src="./assets/img/como-funciona/step1.jpg" alt="" class="hide-on-med-and-down col l4">
</div>

