<div class="row mt2 fadeInRight animated">
        <div class="col s10 offset-s1  left-align mt2">           
          <ul class="collection with-header">
            <li class="collection-header red lighten-3 white-text center-align"><h5>Información de Experiencia</h5></li>
            <li class="collection-item">
                <i class="fas fa-user-cog prefix"></i> Destreza:
                <span *ngIf="usuarioRegistrado.experiencia.tipo_habilidad"  class="right">{{usuarioRegistrado.experiencia.tipo_habilidad}}</span>
            </li>
            <li class="collection-item"><i class="material-icons prefix">date_range </i> Años de Experiencia:
                <span *ngIf="usuarioRegistrado.experiencia.year"  class="right">{{usuarioRegistrado.experiencia.year}}</span>
            </li>
            <li class="collection-item"><i class="fas fa-clipboard-list prefix"></i> Descripción:
                <p *ngIf="usuarioRegistrado.experiencia.descripcion" >{{usuarioRegistrado.experiencia.descripcion}}.</p>
            </li>
            <li class="collection-item"><i class="fas fa-project-diagram prefix"></i>  Tipo de trabajo que prefiere:
              <span *ngIf="usuarioRegistrado.experiencia.tipo_trabajo==='proyecto'" class="right"> Cobro  por proyecto.</span>
              <span *ngIf="usuarioRegistrado.experiencia.tipo_trabajo!=='proyecto'" class="right"> Cobro por horas</span>
           </li>
           <li class="collection-item"><i class="far fa-money-bill-alt prefix"></i> Precio a la hora:
            <span *ngIf="usuarioRegistrado.experiencia.salario_hora"  class="right">{{usuarioRegistrado.experiencia.salario_hora}}€</span>
          </li>         
          </ul>
        </div>
        <div class="row center-align mt2">
          <a [routerLink]="['/perfil/update-experiencia']" class="btn waves-effect red white-text">Actualizar Experiencia</a>
        </div>
      </div> 
