<div class="row mt4">
    <div class="right col s12 m2 offset-m1">        
        <a class="waves-effect red white-text btn" [routerLink]="['/perfil/proyectos']">Volver</a> 
    </div>
    <div>
        <h5  class="col s12 m10 offset-m1 center-align">Formulario de creacion Proyecto</h5>
        <div class="divider col s12 m10 offset-m1 mb2"></div>

        <form [formGroup]="proyectoForm" id="proyectoForm" (ngSubmit)="submitFormProyecto();" class="col s12 m10 offset-m1" validate>
            <div class="row">
                <div class="input-field col s12 m6 l4 offset-l1">
                  
                  <mat-select placeholder="Categoria del Proyecto" formControlName="categoria" name="categoria">
                    <mat-option  value="Pintura"> Pintura</mat-option>
                    <mat-option  value="Construccion"> Albañilería</mat-option>
                    <mat-option  value="Fontaneria"> Fontanería</mat-option>
                    <mat-option  value="Electricidad"> Electricidad</mat-option>
                    <mat-option  value="Carpinteria"> Carpintería</mat-option>
                  </mat-select>
                  <div *ngIf="proyectoForm.controls.categoria.invalid && proyectoForm.controls.categoria.touched" class="red-text center-align">
                    <i class="fas fa-exclamation-circle"></i> La categoria es un campo obligatoria.
                  </div>
                </div>
                <div class="input-field col s12 m6 l4 offset-l1">                   
                    <mat-select placeholder="Tamaño del Proyecto" formControlName="size" name="size">
                        <mat-option  value="Pequeño"> Pequeño</mat-option>
                        <mat-option  value="Mediano"> Mediano</mat-option>
                        <mat-option  value="Grande"> Grande</mat-option>
                    </mat-select>
                    <div *ngIf="proyectoForm.controls.size.invalid && proyectoForm.controls.size.touched" class="red-text center-align">
                        <i class="fas fa-exclamation-circle"></i> El tamaño es un campo obligatoria.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l4 offset-l1">
                    <i class="fas fa-calendar-alt prefix"></i> 
                    <input id="duracion" type="number" formControlName="duracion" min="0"  class="validate">
                    <label for="duracion">Duración aproximada en días</label>
                    <div *ngIf="proyectoForm.controls.duracion.invalid && proyectoForm.controls.duracion.touched" class="red-text center-align">
                        <i class="fas fa-exclamation-circle"></i> duracion en hora es un campo obligatoria.
                    </div>
                </div>
                <div class="input-field col s12 m6 l4 offset-l1">
                   
                    <mat-select placeholder="Incluye materiales" formControlName="incluir_material" name="incluir_material">
                        <mat-option  value=true> Si los incluye</mat-option>
                        <mat-option  value=false> No los incluye</mat-option>                       
                    </mat-select>
                    <div *ngIf="proyectoForm.controls.incluir_material.invalid && proyectoForm.controls.incluir_material.touched" class="red-text center-align">
                     <i class="fas fa-exclamation-circle"></i> El campo incluir materiales es un campo obligatoria.
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l4 offset-l1">
                        <i class="far fa-money-bill-alt prefix"></i> 
                    <input id="precio" type="number" formControlName="precio" min="0"  class="validate">
                    <label for="precio">Precio por horas aproximado</label>
                    <div *ngIf="proyectoForm.controls.precio.invalid && proyectoForm.controls.precio.touched" class="red-text center-align">
                        <i class="fas fa-exclamation-circle"></i> el precio por hora es un campo obligatoria.
                    </div>
                </div>
                <div class="input-field col s12  m6 l4 offset-l1">
                    <i class="material-icons prefix">short_text</i>
                    <input id="descripcion_breve" type="text" formControlName="descripcion_breve"  class="validate" required>
                    <label for="descripcion_breve">Describa un descripcion breve para su proyecto</label>
                    <div *ngIf="proyectoForm.controls.descripcion_breve.invalid && proyectoForm.controls.descripcion_breve.touched" class="red-text center-align">
                        <i class="fas fa-exclamation-circle"></i> descripcion breve es un campo obligatoria.
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="input-field col s12 l10 offset-l1">
                    <i class="material-icons prefix">wrap_text</i>
                    <textarea id="descripcion_completa" class="materialize-textarea" name="descripcion_completa" formControlName="descripcion_completa" required></textarea>
                    <label for="descripcion_completa">Escriba una descripcion detallada sobre su proyecto...</label>
                    <div *ngIf="proyectoForm.controls.descripcion_completa.invalid && proyectoForm.controls.descripcion_completa.touched" class="red-text center-align">
                        <i class="fas fa-exclamation-circle"></i> La descripción completa es un campo obligatorio
                    </div>                      
                </div> 
            </div>
            <div class="row">
                <div class="input-field col s12 l10 offset-l1">
                        <i class="fas fa-map-marker-alt prefix"></i>
                    <textarea id="direccion" class="materialize-textarea" name="direccion" formControlName="direccion" required></textarea>
                    <label for="direccion">Escriba la dirección donde se realizará la reforma.</label>
                    <div *ngIf="proyectoForm.controls.direccion.invalid && proyectoForm.controls.direccion.touched" class="red-text center-align">
                        <i class="fas fa-exclamation-circle"></i> La dirección completa es un campo obligatorio
                    </div>                      
                </div> 
            </div>  
            <div class="row">
                <div class="input-field col s12 m6 l4 offset-l1 center-align">
                    <mat-select placeholder="Comunidad" formControlName="comunidad" name="comunidad">
                        <mat-option *ngFor="let comunidadS of comunidades" (click)="selectComunidad();" [value]="comunidadS">
                        {{comunidadS}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="input-field col s12 m6 l4 offset-l1" *ngIf="proyectoForm.controls.comunidad.touched && proyectoForm.controls.comunidad.valid">
                    <mat-select placeholder="Provincia" formControlName="provincia" name="provincia">
                        <mat-option *ngFor="let provinciaS of provincias" (click)="selectProvincia();" [value]="provinciaS">
                        {{provinciaS}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="input-field col s12 m6 l4 offset-l1" *ngIf="proyectoForm.controls.comunidad.touched && proyectoForm.controls.provincia.touched && proyectoForm.controls.comunidad.valid && proyectoForm.controls.provincia.valid">
                    <mat-select placeholder="Localidad" formControlName="localidad" name="localidad">
                        <mat-option *ngFor="let localidadS of localidades" [value]="localidadS">
                        {{localidadS}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="row">              
                <div class="col s12 m10 offset-m1">
                    <p class="col s12 center-align"><button class="waves-effect waves-red btn red" type="submit" [disabled]="proyectoForm.invalid">Crear Proyecto</button></p>               
                </div>      
            </div> 
        </form>       
    </div>
    <div *ngIf="status && status!==''">
            <div *ngIf="status && status=='error'" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> No se ha creado fallo en el servidor. Intenterlo mas tarde.
              </div>
              <div *ngIf="status && status=='success'" class="green-text center-align">
                <i class="fas fa-exclamation-circle"></i> Se ha creado el proyecto correctamente, Visualizalo en <a [routerLink]="['/perfil/proyectos']">Ver Tus proyectos</a> 
              </div>
        </div>
</div>
