<div class="row">
  <div class="col s12 m4 l3">   
    <div id="menu_mensaje">
      <ul class="collection with-header">
        <li class="collection-header red lighten-1 white-text"><h6>{{title}}</h6></li>
        <li class="collection-item" role="presentation" [routerLinkActive]="['active']">
          <a [routerLink] ="['enviar']"><i class="far fa-share-square prefix"></i> Enviar mensaje</a>
        </li>
        <li class="collection-item" role="presentation" [routerLinkActive]="['active']">
          <a [routerLink] ="['recibidos']" ><i class="far fa-envelope prefix"></i> Mensaje recibidos</a>
        </li>
        <li class="collection-item" role="presentation" [routerLinkActive]="['active']">
          <a [routerLink] ="['enviados']"><i class="fas fa-envelope prefix"></i> Mensaje enviados</a>
        </li>
        <li class="collection-item" role="presentation" >
          <a [routerLink] ="['/']"><i class="fas fa-info-circle prefix"></i> Información </a>
        </li>
      </ul>      
    </div>
  </div>
  <div class="col s12 m8 l9">
      <router-outlet></router-outlet>
  </div>
</div>



