.collection .collection-item.active {
    background: rgb(255, 57, 57);
    
}
#menu_mensaje ul li:hover{
    background: rgb(255, 57, 57,0.125);
  

}
#menu_mensaje ul li a {
    color:rgb(58, 21, 21);
}