<div class="row" >
  <div class="col s12 m10 offset-m1 center-align">
    <h5 class="center-align mt3">Perfil de usuario</h5> 
    <div class="divider"></div>
    <div class="row center-align mt4">            
      <div class="col s12 m10 offset-m1">
        <ul id="tabs-perfil" class="tabs left-align"> 
          <li class="tab" [ngClass]="{'activo':isSeccionUsuario()}"><a (click)="cambiarTab('dUsuario')" class="active">Datos Usuario</a></li>
          <li class="tab" [ngClass]="{'activo':isSeccionCliente()}" class="tab"><a (click)="cambiarTab('dIdentify')">Perfil 
            <span *ngIf="isCliente();">Cliente</span>
            <span *ngIf="isAutonomo();">Autónomo</span>
          </a></li> 
          <li class="tab" *ngIf="isAutonomo()" [ngClass]="{'activo':isSeccionExperiencia()}" class="tab"><a (click)="cambiarTab('dExperiencia')">Datos Laborales</a></li>            
        </ul>
        <div class="divider"></div>  
      </div> 
    </div>
    <app-dUsuario id="dUsuario" *ngIf="isSeccionUsuario()"></app-dUsuario>
    <app-dIdentify id="dIdentify" *ngIf="isSeccionCliente()"></app-dIdentify>
    <app-dExperiencia id="dExperiencia" *ngIf="isSeccionExperiencia()"></app-dExperiencia>
  </div>
  
</div>