
#tabs-perfil .activo a{
    color:rgb(252, 64, 64);
}
#tabs-perfil a{
    color:rgb(248, 175, 175);
}

.card-panel {
    min-height: 210px;
    
}
.card-panel span i {
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
}


img {
    border-radius: 10px;
}

.activo {    
    background-color: rgba(247, 215, 215, 0.788);
    border-bottom: 2px solid red; 
    color:white;  
}


.tab {
    cursor: pointer;
}
.tab:hover {
    background-color: rgb(255, 245, 245)
}
