<!-- BARRA DE NAVEGACION -->    
<div class="navbar-fixed">
  <nav id="navegacion" class="nav-extended">
    <div class="nav-wrapper">
      <a  class="brand-logo hide-on-med-and-down"> <span>TU</span><img src="./assets/icon/logo1.png" alt="" ><span>REFORMA</span></a>
      <a  data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li *ngIf="!usuarioRegistrado"><a [routerLink]="['/registro']">Registro <i class="fas fa-sign-in-alt"></i></a></li>
        <li *ngIf="!usuarioRegistrado"><a [routerLink]="['/login']">Iniciar Sesión <i class="fas fa-edit"></i></a></li>              
        <li *ngIf="usuarioRegistrado">
          <button mat-button class="waves-effect" [matMenuTriggerFor]="areaUsuario">Area Usuario <i class="far fa-user-circle"></i></button>
          <mat-menu #areaUsuario="matMenu">
              <a mat-menu-item *ngIf="usuarioRegistrado" [routerLink]="['/perfil']"><i class="far fa-address-card"></i> Tu Perfil </a>
              <a mat-menu-item *ngIf="usuarioRegistrado" [routerLink]="['/mensajes']" ><i class="fas fa-envelope"></i> Tus Mensajes </a>
               <a mat-menu-item *ngIf="usuarioRegistrado && usuarioRegistrado.tipo=='Cliente'" [routerLink]="['/perfil/proyectos']"><i class="fas fa-thumbtack"></i> Tus Proyectos</a>
            </mat-menu>
        </li>

        <li *ngIf="usuarioRegistrado"><a (click)="logout();">Cerrar Sesión <i class="fas fa-power-off"></i></a></li>              
      </ul>
    </div>
    <div class="nav-content hide-on-med-and-down">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a [routerLink]="['/']" [routerLinkActive]="['activo']" ><i class="fas fa-home"></i>Inicio</a></li>
        <li class="tab"><a [routerLink]="['/autonomos']" [routerLinkActive]="['activo']" ><i class="fas fa-user-astronaut"></i>Autónomos</a></li>
        <li class="tab"><a [routerLink]="['/proyectos']" [routerLinkActive]="['activo']" ><i class="fas fa-thumbtack"></i>Proyectos</a></li>
        <li class="tab"><a [routerLink]="['/como_funciona']" [routerLinkActive]="['activo']"><i class="fas fa-id-card-alt"></i>¿Cómo Funciona?</a></li>
        <li class="tab"><a [routerLink]="['/contacto']" [routerLinkActive]="['activo']"><i class="far fa-address-book"></i>Contactenos</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- FIN DE BARRA DE NAVEGACION -->

<!-- LISTA DE LA NAVEGACION LATERAL -->    
<ul class="sidenav" id="mobile-demo">
  <li class="red lighten-2 white-text"><h5 class="center-align titulo">TU REFORMA</h5></li>
  <li *ngIf="!usuarioRegistrado"><a [routerLink]="['/registro']">Sign-in <i class="fas fa-edit"></i></a></li>
  <li *ngIf="!usuarioRegistrado"><a [routerLink]="['/login']">Log-in <i class="fas fa-sign-in-alt"></i></a></li> 
  <li *ngIf="usuarioRegistrado"><a>Area Usuario <i class="far fa-user-circle"></i></a></li>
  <li class="divider"></li>
  <li *ngIf="usuarioRegistrado"><a [routerLink]="['/perfil']"><i class="far fa-address-card"></i> Tu Perfil </a></li>
  <li *ngIf="usuarioRegistrado"><a [routerLink]="['/mensajes']"><i class="fas fa-envelope"></i> Tus Mensajes </a></li>
  <li *ngIf="usuarioRegistrado && usuarioRegistrado.tipo=='Cliente'"><a [routerLink]="['/perfil/proyectos']"><i class="fas fa-thumbtack"></i> Tus proyectos </a></li>
  <li *ngIf="usuarioRegistrado" class="divider"></li>
  <li class=""><a [routerLink]="['/']"><i class="fas fa-home"></i>Inicio</a></li>
  <li class=""><a [routerLink]="['/autonomos']" ><i class="fas fa-user-astronaut"></i>Autónomos</a></li>
  <li class=""><a [routerLink]="['/proyectos']" class="active"><i class="fas fa-thumbtack"></i>Proyectos</a></li>
  <li class=""><a [routerLink]="['/como_funciona']"><i class="fas fa-id-card-alt"></i>¿Cómo Funciona?</a></li>
  <li class=""><a [routerLink]="['/contacto']"><i class="far fa-address-book"></i>Contactenos</a></li>
  <li *ngIf="usuarioRegistrado"><a (click)="logout();">Cerrar Sesión <i class="fas fa-power-off"></i></a></li>              
</ul>
<!-- FIN LISTA DE LA NAVEGACION LATERAL -->
<app-recuperar class="modal" id="modal3"></app-recuperar>
