
.navbar-fixed {
    position: absolute;
    top: 0;    
}
#navegacion {
    background: rgba(0,0,0,.5); 
    min-width: 400px;   
} 

.nav-extended.scrolled {
    background-color: #e57373 !important;
    transition: background-color 500ms linear;
}

#nav-mobile i {
    font-size: 1.2rem;
    margin-left: 0.3rem;
}

.tab i{
    font-size: 1.4rem;
    margin-right: 0.5rem;
}

.activo {
    border-bottom: 3px solid white;
}

.titulo {
    margin:0;
    padding: 1rem;
    font-size:1.2rem;
}

.sidenav a{
    transition: background-color .5s;
}

.sidenav a:hover{
    background: linear-gradient(90deg, rgba(222,76,76,0.9556197478991597) 0%, rgba(193,42,42,0.7539390756302521) 100%);
    color:white;
}

.sidenav a:hover i {
    color:white;
}

.brand-logo img{
    margin:2%;
    height: 10%;
    width: 10%;
}

.brand-logo span{
    font-size:1.2rem;
    position: relative;
    bottom: 15px;    
}
.brand-logo span:first-of-type{
    margin-left:10px;
    
}

