<div class="row mt2 fadeInRight animated">
  <div class="col s10 offset-s1 left-align mt2">    
    <ul class="collection with-header">
      <li class="collection-header red lighten-3 white-text center-align"><h5>Información de Usuario</h5></li>
      <li class="collection-item center-align">
      <span class="">
        <img *ngIf="!usuarioRegistrado.avatar" src="./assets/main/personal/personal1.jpg" alt="" class="responsive-img z-depth-1 mt2 mb1">
        <img *ngIf="usuarioRegistrado.avatar" src="{{url+'get-image-user/'+usuarioRegistrado.avatar}}"  class="responsive-img z-depth-1 mt-1 mb-1"/>
        <p><i class="fas fa-image"></i> <a (click)="abrirFormCF();" class="enlaceButton"> Cambiar Foto de perfil</a></p>        
      </span>
      </li>     
      <li class="collection-item"><i class="fas fa-user"></i> Nombre de usuario: <span class="right">{{usuarioRegistrado.nombreUsuario}}</span></li>
      <li class="collection-item"><i class="fas fa-envelope"></i> Email: <span class="right">{{usuarioRegistrado.email}}</span></li>
      <li class="collection-item"><i class="fas fa-user-tag"></i> Tipo: <span class="right">{{usuarioRegistrado.tipo}}</span></li>
      <li class="collection-item"><i class="far fa-calendar-alt"></i> Fecha de creación: <span class="right">{{usuarioRegistrado.createdAt | amLocale:'es'| amTimeAgo }}</span></li>
      <li class="collection-item"><i class="fas fa-user-lock"></i> <a class="enlaceButton" (click)="abrirFormCP();"> Editar Contraseña</a></li>
     

    </ul>
  </div>

  <div *ngIf="formCP && formCP=='active' || status && status =='error' " class="col s10 offset-s1 mt2">
    <h5>Formulario de cambio de contraseña</h5>
    <div class="divider"></div>
    <form action="" [formGroup]="cambiarPassForm" id="cambiarPassForm" (ngSubmit)="submit()" class="mt2">
        <div class="input-field col s12 m8 offset-m2">
          <i class="material-icons prefix">https</i>
          <input id="passwordA" type="password" formControlName="passwordA" class="validate" required>
          <label for="passwordA">Contraseña Antigüa</label>
          <div *ngIf="cambiarPassForm.controls.passwordA.invalid && cambiarPassForm.controls.passwordA.touched" class="red-text center-align">
            <i class="fas fa-exclamation-circle"></i> Contraseña con formato invalido.
          </div>
          <div *ngIf="status=='error' && cambiarPassForm.controls.passwordA.valid" class="red-text center-align">
            <i class="fas fa-exclamation-circle"></i> Contraseña no es valida.
          </div>
        </div>
        <div class="input-field col s12 m8 offset-m2">
          <i class="material-icons prefix">https</i>
          <input id="password_confirmA" type="password" formControlName="password_confirmA" class="validate" required>
          <label for="password_confirmA">Confirmar Contraseña Antigüa</label>
          <div *ngIf="cambiarPassForm.controls.password_confirmA.invalid && cambiarPassForm.controls.password_confirmA.touched" class="red-text center-align">
            <i class="fas fa-exclamation-circle"></i> Contraseña con formato invalido.
          </div>
          <div *ngIf="cambiarPassForm.controls.password_confirmA.valid && cambiarPassForm.controls.password_confirmA.touched && cambiarPassForm.value.password_confirmA!==cambiarPassForm.value.passwordA" class="red-text center-align">
            <i class="fas fa-exclamation-circle"></i> Contraseña deben cohincidir
          </div>
        </div>
        <div class="input-field col s12 m8 offset-m2">
          <i class="material-icons prefix">https</i>
          <input id="passwordN" type="password" formControlName="passwordN" class="validate" required>
          <label for="passwordN">Contraseña Nueva</label>
          <div *ngIf="cambiarPassForm.controls.passwordN.invalid && cambiarPassForm.controls.passwordN.touched" class="red-text center-align">
            <i class="fas fa-exclamation-circle"></i> Contraseña con formato invalido.
          </div>
        </div> 
        <div class="col s11 m8 offset-m2">            
            <p class="col s12 l6 center-align"><button class="waves-effect waves-red btn red white-text" type="submit" [disabled]="cambiarPassForm.invalid">Cambiar</button></p>
        </div>      
             
    </form>
  </div>
  <div *ngIf="status && status==='success' " class="col s10 offset-s1 mt2 green-text">
      <h6><i class="fas fa-exclamation-circle "></i> Contraseña cambiada correctamente.</h6>  
  </div>  
  <div *ngIf="formCF && formCF=='active' || status && status =='error' " class="col s10 offset-s1 mt2">
      <h5>Formulario de cambio de Foto</h5>
      <div class="divider"></div>
      <form action=""  [formGroup]="cambiarFotoForm" id="cambiarFotoForm" (ngSubmit)="submitFoto()"  class="mt2">
        <div class="input-field col s12 m8 offset-m2">
          <i class="far fa-file-image"></i>
          <input id="filePerfil" type="file" formControlName="filePerfil" (change)="fileChangeEvent($event);" required> 
          <div *ngIf="cambiarFotoForm.valid && statusF==='error'" class="red-text center-align mt2">
            <i class="fas fa-exclamation-circle"></i> No es una imagen con Formato valido.
          </div>
        </div>
        <div class="col s11 m8 offset-m2">            
          <p class="col s12 l6 center-align"><button class="waves-effect waves-red btn red white-text" type="submit" [disabled]="cambiarFotoForm.invalid">Subir Imagen</button></p>
      </div>  
      </form>  
  </div>
  <div *ngIf="statusF && statusF==='success' " class="col s10 offset-s1 mt2 green-text">
    <h6><i class="fas fa-exclamation-circle "></i> Foto cambiada correctamente.</h6>  
</div>    
</div> 



