<div class="principal">
  <!--Filtro-->
  <div id="filtro" class="input-field">         
      <input matInput (keyup)="applyFilter($event.target.value)" type="text" id="filter_input">
      <label for="filter_input">Filtro</label> 
  </div> 

  <table mat-table #table [dataSource]="dataSource" matSort class="centered">
    <!--email -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
        <td mat-cell *matCellDef="let mensaje"> 
            <i *ngIf="element.visualizado" class="far fa-eye prefix"></i>
            <i *ngIf="!element.visualizado" class="far fa-eye-slash prefix"></i>
            {{mensaje.email}} </td>
    </ng-container>
    <!--asunto 
    <ng-container matColumnDef="asunto">
        <th mat-header-cell *matHeaderCellDef> asunto </th>
        <td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
    </ng-container>
    -->    
    <ng-container matColumnDef="texto">
        <th mat-header-cell *matHeaderCellDef> body </th>
        <td mat-cell *matCellDef="let mensaje"> {{mensaje.texto}} </td>
    </ng-container>
    
    <!--attachement-->
    <ng-container matColumnDef="fecha_creacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Envio </th>
        <td mat-cell *matCellDef="let mensaje"> {{mensaje.fecha_creacion}} </td>
    </ng-container>
    <!--action-->
    <ng-container matColumnDef="consultar">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let mensaje">
        <button class="btn waves-effect red lighten-3"  (click)="consultar(mensaje)">Consultar</button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns" id="cabecera"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!--Paginacion-->
  <mat-paginator #paginator
                [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]"
                [showFirstLastButtons]="true">
  </mat-paginator>
</div>