
<!-- SECCION DE DESCRIPCION -->
  <div class="row grey lighten-3" id="descripcion">
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <h4 class="center-align">¿Necesitas realizar un trabajo?</h4>
      <div class="divider"></div>
      <div class="col s12 m6  l4 offset-l1"> 
          <img src="./assets/main/descripcion.jpg" alt="" class="responsive-img"> <!-- notice the "circle" class --> 
        </div> 
        <div class="col s12 m6" id="descripcion_texto">           
          <p>En esta pagina podras encontrar a personal especializado  
          en la realización de todo tipo de reformas del hogar. Solo  
          inscríbite, plantea tu proyecto y cientos de especialistas  
          estan a tu disposición para plantearte la resolución de tu reforma.</p> 
          
               
        </div> 
    </div>
  </div>
  <div class="parallax-container">
      <div class="parallax"><img src="./assets/main/parallax1.jpg"></div>
  </div>
  <!-- SECCION DE CATEGORIAS -->
  <div class="row" id="categorias">
      <div  class="col s12"> 
          <h4 class="center header text_h2"> Busca entre nuestras categorias.</h4> 
          <hr> 
      </div> 
      <div  class="col s12 m6 l3"> 
          <div class="center promo promo-example"> 
              <i class="fas fa-gavel  red-text "></i>  
              <h5 class="promo-caption">Albañilería</h5> 
              <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p> 
          </div> 
      </div> 
 
      <div  class="col s12 m6 l3"> 
          <div class="center promo promo-example"> 
              <i class="fas fa-wrench"></i> 
              <h5 class="promo-caption">Fontanería</h5> 
              <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p> 
          </div> 
      </div> 
      <div class="col s12 m6 l3"> 
          <div class="center promo promo-example"> 
              <i class="fas fa-plug"></i> 
              <h5 class="promo-caption">Electricidad</h5> 
              <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p> 
          </div> 
      </div> 
      <div class="col s12 m6 l3"> 
          <div class="center promo promo-example"> 
              <i class="fas fa-paint-brush"></i> 
              <h5 class="promo-caption">Pintura</h5> 
              <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p> 
          </div> 
      </div> 
       
      <div  class="col s12 center-align"> 
          <a class="waves-effect red darken-2 btn" [routerLink]="['/proyectos']"><i class="fas fa-sign-in-alt"></i>ir a proyectos</a> 
      </div>   
  </div>
<!-- FIN SECCION DE CATEGORIAS -->
  <div class="parallax-container">
    <div class="parallax"><img src="./assets/main/parallax2.jpg"></div>
  </div>

  <!-- COMPONENTE DE CONTRATISTAS -->
  <div class="row" id="contratistas">
    <h4 class="center-align">Autónomo mejor valorados</h4>
    <hr>
    <div class="col s12 m6 l3">
      <div class="row">
          <div class="col s10 offset-s1">
            <div class="card z-depth-5">
              <div class="card-image">
                <img src="./assets/main/personal/personal1.jpg">                  
              </div>
              <div class="card-content">
                <h6 class="center-align">Antonio Garcia Quesada</h6>
                <hr>
                <p>Skill: <i class="fas fa-gavel"></i> <i class="fas fa-paint-brush"></i> </p>
                <p>Número de proyectos realizados: 15</p>
              </div>
              <div class="card-action">
                <p>Media: 4.5 <i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star-half yellow-text"></i></p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="card z-depth-4">
            <div class="card-image">
              <img src="./assets/main/personal/personal1.jpg">                  
            </div>
            <div class="card-content">
              <h6 class="center-align">Antonio Garcia Quesada</h6>
              <hr>
              <p>Skill: <i class="fas fa-gavel"></i> <i class="fas fa-paint-brush"></i> </p>
              <p>Número de proyectos realizados: 15</p>
            </div>
            <div class="card-action">
              <p>Media: 4.5 <i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star-half yellow-text"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="card z-depth-4">
            <div class="card-image">
              <img src="./assets/main/personal/personal1.jpg">                  
            </div>
            <div class="card-content">
              <h6 class="center-align">Antonio Garcia Quesada</h6>
              <hr>
              <p>Skill: <i class="fas fa-gavel"></i> <i class="fas fa-paint-brush"></i> </p>
              <p>Número de proyectos realizados: 15</p>
            </div>
            <div class="card-action">
              <p>Media: 4.5 <i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star-half yellow-text"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="row">
        <div class="col s10 offset-s1">
          <div class="card z-depth-4">
            <div class="card-image">
              <img src="./assets/main/personal/personal1.jpg">                  
            </div>
            <div class="card-content">
              <h6 class="center-align">Antonio Garcia Quesada</h6>
              <hr>
              <p>Skill: <i class="fas fa-gavel"></i> <i class="fas fa-paint-brush"></i> </p>
              <p>Número de proyectos realizados: 15</p>
            </div>
            <div class="card-action">
              <p>Media: 4.5 <i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star yellow-text"></i><i class="fas fa-star-half yellow-text"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


