#descripcion{
    padding:4rem;
    margin-bottom: 0px;
}

a i {
    margin-right:0.5rem;
    font-size: 1rem;
}

#categorias div>i{
    font-size: 3rem;
    border: rgba(255, 0, 0, 0.308) solid 2px; 
    border-radius: 100% 100% 100% 100%;
    padding:0.6rem;
    color:rgba(255, 0, 0, 0.74);

}
.paralax {
    height: 200px;    
}
hr{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 2rem;
}
#categorias,#contratistas{
    padding-top: 3%;
    padding-bottom: 3%;
}