nav ul li button:hover{
    background: linear-gradient(90deg, rgba(222,76,76,0.9556197478991597) 0%, rgba(193,42,42,0.7539390756302521) 100%);
    color:white;
}
nav ul li button:focus{
    background: rgba(0,0,0,.06); 
    color:white;
}
.mat-menu-item a:hover{
    background: linear-gradient(90deg, rgba(222,76,76,0.9556197478991597) 0%, rgba(193,42,42,0.7539390756302521) 100%);
    color:white;
}
.modal{
    max-height: 80%;
}

#menu_mensaje .active {
    background: rgb(241, 103, 103);
}


body{
    padding:0px;
    margin:0px;
}