<div>
  <div class="modal-content">
    <div *ngIf="!this.status">
      <h4 class="center-align white-text"><span class="hide-on-small-only">Formulario De</span> Recuperación de Contraseña. <span class="btn-flat modal-close cerrar white-text"><i class="material-icons">clear</i></span></h4>
      <div class="row">
        <form [formGroup]="recuperarForm" id="recuperarForm" (ngSubmit)="submit()" class="col s12">
          <div class="row">              
            <div class="input-field col s12 m8 offset-m2">
              <i class="material-icons prefix">email</i>
              <input id="emailR" type="email" name="emailL" class="validate"  formControlName="emailR" required>
              <label for="emailR">Email</label>
              <div *ngIf="recuperarForm.controls.emailR.invalid && recuperarForm.controls.emailR.touched" class="red-text center-align">
                    <i class="fas fa-exclamation-circle"></i> Email con formato invalido
              </div>
            </div>      
          </div>
         
            <div *ngIf="mensaje" class="center-align">
                <h5><i class="fas fa-exclamation-circle text-red"></i> {{mensaje}}</h5>
            </div>
            <div class="modal-footer mb3">
                <p class="center-align"><button class="waves-effect waves-red btn red" type="submit" [disabled]="recuperarForm.invalid">Recuperar Contraseña</button></p>
            </div>
                      
        </form>    
      </div>
  </div>
</div>        