.modal-content {
    padding:0;
}

h4 {
    background-color: rgba(241, 2, 2, 0.87);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h4 i {
    font-size: 2.5rem;    
}

a {
    background-color: rgba(241, 2, 2, 0.87); 
    color: white;
}

.cerrar {
    position:absolute;
    right: 0;
}