<div class="col s12 mt2">
  <h5 class="center-align">{{title}}</h5>
  <div class="divider"></div>
  <div *ngIf="status && status=='error'" class="red-text center-align">
    <i class="fas fa-exclamation-circle"></i> El mensaje no se ha enviado fallo en el servidor. Intenterlo mas tarde.
  </div>
  <div *ngIf="status && status=='success'" class="green-text center-align">
    <i class="fas fa-exclamation-circle"></i> El mensaje se ha enviado correctamente, visualizarlo en <a [routerLink]="['/mensajes/enviados']">Mensajes Enviados</a> 
  </div>

  <div class="mt3">
      <form [formGroup]="envioMensajeForm" id="envioMensajeForm" (ngSubmit)="onSubmit()" validate>
        <div class="row">
          <div class="input-field col s12 m7 offset-m1">
            <mat-select placeholder="Para" formControlName="receptor" name="receptor">
              <mat-option *ngFor="let receptorS of receptorList"  [value]="receptorS._id">
                {{receptorS.perfil.nombre}},{{receptorS.perfil.apellidos}} <{{receptorS.email}}>
              </mat-option>
            </mat-select>
            <div *ngIf="envioMensajeForm.controls.receptor.invalid && envioMensajeForm.controls.receptor.touched" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> Este campo es obligatorio
            </div>
          </div>
        </div>  
        <div class="row">
            <div class="input-field col s12 m10 offset-m1">
              <i class="material-icons prefix">wrap_text</i>
              <textarea id="texto" class="materialize-textarea" name="texto" formControlName="texto" required></textarea>
              <label for="texto">Escriba un mensaje ...</label>
              <div *ngIf="envioMensajeForm.controls.texto.invalid && envioMensajeForm.controls.texto.touched" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> El mensaje es un campo obligatorio
              </div>
            </div>  
        </div>  
        <div class="row center-align">
            <button class="waves-effect red btn " type="submit" [disabled]="envioMensajeForm.invalid"><i class="material-icons prefix">send</i> <span class="text-center-vertical"> Enviar Mensaje</span></button>
        </div>   
      </form>
  </div>      
</div>
  
