<div class="row mt4">
    <div class="right col s12 m2 offset-m1">
        <a class="waves-effect red white-text btn" [routerLink]="['/perfil']">Volver</a> 
    </div>
  <div *ngIf="!status" class="col s10 offset-s1 center-align">
    <h5>Formulario de datos identificativos</h5>    
    <div class="divider"></div>
      <form [formGroup]="perfilForm" id="perfilForm" (ngSubmit)="submitFormPerfil();" class="col s12 mt4" validate>
        <div class="row">
          <div class="input-field col s12 m6">
              <i class="material-icons prefix">short_text</i>
            <input id="nombre" type="text" formControlName="nombre"  name="nombre" class="validate" required>
            <label for="nombre">Nombre</label>
            <div *ngIf="perfilForm.controls.nombre.invalid && perfilForm.controls.nombre.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Nombre formato invalido
            </div>        
          </div>
          <div class="input-field col s12 m6">
            <i class="material-icons prefix">short_text</i>
            <input id="apellidos" type="text" formControlName="apellidos" class="validate" required>
            <label for="apellidos">Apellidos</label>
            <div *ngIf="perfilForm.controls.apellidos.invalid && perfilForm.controls.apellidos.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i>Apellidos con formato invalido
            </div>           
          </div>         
        </div>
        <div class="row">          
          <div class="input-field col s12 m6">
              <i class="material-icons prefix">date_range </i>
            <input id="fecha_nacimiento" type="date" formControlName="fecha_nacimiento" max="2000-01-02" required>
            <label for="fecha_nacimiento">Fecha de nacimiento</label>
            <div *ngIf="perfilForm.controls.fecha_nacimiento.invalid && perfilForm.controls.fecha_nacimiento.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Fecha de nacimiento es obligatoria.
            </div>
          </div>
          <div *ngIf="isCliente();" class="input-field col s12 m6">
              <i class="material-icons prefix">contacts</i>
            <input id="dni" type="text" formControlName="dni" class="validate" required>
            <label for="dni">Dni</label>
            <div *ngIf="perfilForm.controls.dni.invalid && perfilForm.controls.dni.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Dni con formato invalido.
            </div>          
          </div>
          <div *ngIf="isAutonomo();" class="input-field col s12 m6">
              <i class="material-icons prefix">contacts</i>
            <input id="cif" type="text" formControlName="cif" class="validate" required>
            <label for="cif">Cif</label>
            <div *ngIf="perfilForm.controls.cif.invalid && perfilForm.controls.cif.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Cif con formato invalido.
            </div>          
          </div>
          <div class="input-field col s12 m6">
              <i class="material-icons prefix">phone</i>
              <input id="telefono" type="number" formControlName="telefono" class="validate" required>
              <label for="telefono">Telefono Fijo</label>
              <div *ngIf="perfilForm.controls.telefono.invalid && perfilForm.controls.telefono.touched" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i>telefono Fijo con formato invalido
              </div>           
            </div>
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">smartphone</i>
                <input id="movil" type="number" formControlName="movil" class="validate">
                <label for="movil">Telefono Movil</label>
                <div *ngIf="perfilForm.controls.movil.invalid && perfilForm.controls.movil.touched" class="red-text center-align">
                  <i class="fas fa-exclamation-circle"></i>Movil con formato invalido
                </div>           
            </div>
          <div class="input-field col s12">            
              <i class="material-icons prefix">place</i>
            <input id="direccion" type="text" formControlName="direccion" class="validate" required>
            <label for="direccion">Direccion</label>
            <div *ngIf="perfilForm.controls.direccion.invalid && perfilForm.controls.direccion.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i>Direccion con formato invalido
            </div>           
          </div>
          <div class="input-field col s12 m6 center-align">
            <mat-select placeholder="Comunidad" formControlName="comunidad" name="comunidad">
              <mat-option *ngFor="let comunidadS of comunidades" (click)="selectComunidad();" [value]="comunidadS">
                {{comunidadS}}
              </mat-option>
            </mat-select>
          </div>
          <div class="input-field col s12 m6" *ngIf="perfilForm.controls.comunidad.touched && perfilForm.controls.comunidad.valid">
            <mat-select placeholder="Provincia" formControlName="provincia" name="provincia">
              <mat-option *ngFor="let provinciaS of provincias" (click)="selectProvincia();" [value]="provinciaS">
                {{provinciaS}}
              </mat-option>
            </mat-select>
          </div>
          <div class="input-field col s12 m6" *ngIf="perfilForm.controls.comunidad.touched && perfilForm.controls.provincia.touched && perfilForm.controls.comunidad.valid && perfilForm.controls.provincia.valid">
            <mat-select placeholder="Localidad" formControlName="localidad" name="localidad">
              <mat-option *ngFor="let localidadS of localidades" [value]="localidadS">
                {{localidadS}}
              </mat-option>
            </mat-select>
          </div>  
         
        </div>     
        <div class="row">              
          <div class="col s12 m10 offset-m1">
            <p class="col s12 center-align"><button class="waves-effect waves-red btn red" type="submit" [disabled]="perfilForm.invalid">Actualiazar Perfil</button></p>               
          </div>      
        </div>
    </form>
  </div>
  <div *ngIf="status && status!==''">
      <div *ngIf="status && status=='error'" class="red-text center-align">
          <i class="fas fa-exclamation-circle"></i> No se ha enviado fallo en el servidor. Intenterlo mas tarde.
        </div>
        <div *ngIf="status && status=='success'" class="green-text center-align">
          <i class="fas fa-exclamation-circle"></i> Se ha actualizado el perfil correctamente, Visualizalo en <a [routerLink]="['/perfil']">Ver Perfil</a> 
        </div>
  </div>
</div>
