<section class="row">
  <div class="col s12 m8 offset-m2">
    <form [formGroup]="contacteForm" id="contacteForm" (ngSubmit)="onSubmit()" validate>
      <h5 class="center-align">Contacte con nosotros</h5>
      <p class="center-align">Sientase libre de contactar con nosotros mediante el siguiente formulario, o a través de nuestras redes sociales.</p>
      <div class="divider"></div>
      <div class="row">
          <div class="input-field col s12 m4 offset-m1">
            <i class="material-icons prefix">short_text</i>
            <input id="nombreC" type="text" name="nombreC" formControlName="nombreC" class="validate" required>
            <label for="nombreC">Nombre</label>
            <div *ngIf="contacteForm.controls.nombreC.invalid && contacteForm.controls.nombreC.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Nombre formato invalido
            </div>
          </div>
          <div class="input-field col s12 m4 offset-m1">
            <i class="material-icons prefix">short_text</i>
            <input id="apellidosC" type="text" name="apellidosC" formControlName="apellidosC" class="validate" required>
            <label for="apellidosC">Apellidos</label>
            <div *ngIf="contacteForm.controls.apellidosC.invalid && contacteForm.controls.apellidosC.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Apellidos con formato invalido.
            </div>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12 m4 offset-m1">
            <i class="material-icons prefix">smartphone</i>
            <input id="telefono" type="tel" name="telefono"  formControlName="telefono" class="validate" required>
            <label for="telefono">Teléfono</label>
            <div *ngIf="contacteForm.controls.telefono.invalid && contacteForm.controls.telefono.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Teléfono con formato invalido
            </div>
          </div>
          <div class="input-field col s12 m4 offset-m1">
            <i class="material-icons prefix">mail</i>
            <input id="emailC" type="text" name="emailC" formControlName="emailC" class="validate" required>
            <label for="emailC">Email</label>
            <div *ngIf="contacteForm.controls.emailC.invalid && contacteForm.controls.emailC.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> Email con formato invalido
            </div>
          </div>
      </div>
      <div class="row">
          <div class="input-field col s12 m9 offset-m1">
            <i class="material-icons prefix">wrap_text</i>
            <textarea id="texto" class="materialize-textarea" name="texto" formControlName="texto" required></textarea>
            <label for="texto">Escriba un mensaje ...</label>
            <div *ngIf="contacteForm.controls.texto.invalid && contacteForm.controls.texto.touched" class="red-text center-align">
              <i class="fas fa-exclamation-circle"></i> El mensaje es un campo obligatorio
            </div>
          </div>  
      </div>  
        
      <div class="row center-align">
          <button class="waves-effect red btn " type="submit" data-target="modal-mensaje-contacto" [disabled]="contacteForm.invalid"><i class="material-icons">send</i><span class="text-center-vertical"> Enviar</span></button>
      </div>    
    </form>
    <div *ngIf="mensaje_envio" class="center-align">
      <h5><i class="fas fa-exclamation-circle"></i> {{mensaje_envio}}</h5>
    </div>
  </div>  

</section>

<div class="row divider"></div>
<div class="row" id="redes">
  <div class="col s10 offset-s1"> 
    <h5 class="center-align">Nuestras redes sociales</h5>
    <div class="divider"></div>
    <div class="row">
      <div class="col s10 offset-s1 m4 center-align">
        <a href="https://es-es.facebook.com/" target="_blank" 
           class="btn waves-effect blue" 
           matTooltip="Entra en nuestro Facebook" matTooltipPosition="above">
          <i class="fab fa-facebook-square"></i></a>
      </div>
      <div class="col s10 offset-s1 m4 center-align">
        <a href="https://twitter.com/?lang=es" target="_blank" class="btn waves-effect cyan lighten-1"  matTooltip="Entra en nuestro Twitter" matTooltipPosition="above">
          <i class="fab fa-twitter-square"></i> </a>
      </div>
      <div class="col s10 offset-s1 m4 center-align">
        <a href="https://twitter.com/?lang=es" target="_blank" class="btn waves-effect black"  matTooltip="Entra en nuestro Github" matTooltipPosition="above"> 
          <i class="fab fa-github-square"></i> </a>
      </div>   
    </div>
  </div>
</div>  
<div class="row" id="google-maps">
    <iframe id="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.6732726517375!2d-4.639942584823389!3d36.53787608000346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd72e219a82d6e23%3A0x30296283b87b266a!2sIES+Vega+de+Mijas!5e0!3m2!1ses!2ses!4v1526893285009" width="100%" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>



