#redes a {
    margin-top:5%;
    max-width:200px;
    width:80%;  
}


#google-maps {
    margin-bottom: -5px;
}

#mapa {
    margin-right:0;
    margin-left:0;    
    box-shadow: 1px 0px 10px 3px rgba(0,0,0,0.125);
}

.text-center-vertical {
    position: relative;
    bottom: 3px;
}