<div class="principal">
  <h5 class="center-align">Listado de proyectos</h5>
  <div class="divider"></div>
  <div class="row mt2">
    <!--Filtro-->
    <div class="col s12">
        <div id="filtro" class="input-field">         
            <input matInput (keyup)="applyFilter($event.target.value)" type="text" id="filter_input">
            <label for="filter_input">Filtro</label> 
        </div> 
      
        <table mat-table #table [dataSource]="dataSource" matSort class="centered">
          <!--Id -->
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef style="display:none" ></th>
              <td mat-cell *matCellDef="let element" [ngSwitch]="element.categoria"> 
            
                <div class="card horizontal">
                  <div class="card-image hide-on-small-only">
                    <img *ngSwitchCase="'Pintura'" src="./assets/img/proyectos/pintura.jpg" class="hide-on-small-only responsive-img image" >
                    <img *ngSwitchCase="'Construccion'" src="./assets/img/proyectos/construccion.jpg" class="hide-on-small-only responsive-img" >
                    <img *ngSwitchCase="'Carpinteria'" src="./assets/img/proyectos/carpinteria.jpg" class="hide-on-small-only responsive-img">
                    <img *ngSwitchCase="'Electricidad'" src="./assets/img/proyectos/electricidad.jpg" class="hide-on-small-only responsive-img">
                    <img *ngSwitchCase="'Fontaneria'" src="./assets/img/proyectos/fontaneria.jpg" class="hide-on-small-only responsive-img">
                    <p class="tiempo">
                      {{element.createdAt| amLocale:'es'| amTimeAgo }}
                    </p>
                  </div>
                  
                  <div class="card-content">
                    <h5 *ngSwitchCase="'Pintura'" class="categoria amber lighten-2 white-text z-depth-1"><i  class="fas fa-paint-brush prefix"></i> {{element.categoria}}</h5>
                    <h5 *ngSwitchCase="'Construccion'" class="categoria green accent-2 white-text z-depth-1"><i class="fas fa-gavel prefix"></i> {{element.categoria}}</h5>
                    <h5 *ngSwitchCase="'Fontaneria'" class="categoria light-blue accent-3 white-text z-depth-1"> <i class="fas fa-wrench prefix"></i> {{element.categoria}}</h5>
                    <h5 *ngSwitchCase="'Electricidad'" class="categoria pink accent-3 darken-3 white-text z-depth-1"> <i class="fas fa-plug prefix"></i> {{element.categoria}}</h5>
                    <h5 *ngSwitchCase="'Carpinteria'" class="categoria purple white-text z-depth-1"><i class="fas fa-screwdriver prefix"></i> {{element.categoria}}</h5>
                      <h6 class="pt1 pb1">{{element.descripcion_breve}}</h6>
                      <div class="divider"></div>
                      <p class="row ">
                        <span *ngIf="isAutonomo()" class="btn-floating waves-effect waves-light red activator right mr2 mb1"><i class="fas fa-info"></i></span>
                      </p>
                      <p class="mt2">
                        {{element.descripcion_completa}}
                      </p>
                      <p class="mt2">
                        <span class="left ml2"><i class="fas fa-map-marker-alt prefix"></i> {{element.localidad}}</span> 
                        <span class="right mr2"><i class="fas fa-money-bill-wave prefix"></i> {{element.precio}} €/hora</span>
                      </p> 
                      <div *ngIf="isAutonomo()" class="card-action" id="card-footer">
                          <a class="waves-effect btn red lighten-2 white-text" [routerLink]="['/mensajes/enviar/'+element.cliente]">Enviar Mensaje</a>
                      </div>                    
                  </div>
                  
                  <div class="card-reveal scaled">
                    <span class="card-title white-text red ">Detalles del Proyecto<i class="material-icons right">close</i></span>
                      <ul class="collection with-header left-align">
                        <li class="collection-header center-align"><h5>{{element.descripcion_breve}}</h5></li>
                        <li class="collection-item"><p><i class="fas fa-align-left prefix"></i> Descripción: <span class="right">{{element.descripcion_completa}}</span></p></li>
                        <li class="collection-item"><p><i class="fas fa-map-marker-alt prefix"></i> Dirección: <span class="right">{{element.direccion}} - {{element.localidad}} - {{element.provincia}} - {{element.comunidad}}</span></p></li>
                        <li class="collection-item"><p><i class="fas fa-project-diagram prefix"></i> Tamaño del proyecto: <span class="right">{{element.size}}</span></p></li>
                        <li class="collection-item">
                          <p><i class="fas fa-bullseye prefix"></i>Incluir Materiales: 
                            <span class="right" *ngIf="element.incluir_material"><i class="fas fa-times red-text"></i></span>
                            <span class="right" *ngIf="!element.incluir_material"><i class="fas fa-check green-text"></i></span>
                            
                          </p>
                      </li>
                        <li class="collection-item"><p><i class="fas fa-money-bill-wave prefix"></i> Presupuesto: <span class="right">{{element.precio}}€/hora</span> </p></li>
                        <li class="collection-item"><p><i class="far fa-calendar-alt prefix"></i> Fecha de creación: <span class="right">{{element.creado_en | amLocale:'es'| amTimeAgo}}</span></p></li>
                      </ul>                    
                  </div>                  
                </div>
               
                           
              </td>
          </ng-container>
         
          <tr mat-header-row *matHeaderRowDef="displayedColumns" id="cabecera"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <!--Paginacion-->
        <mat-paginator #paginator
                      [pageSize]="10"
                      [pageSizeOptions]="[5, 10, 20]"
                      [showFirstLastButtons]="true">
        </mat-paginator>
    </div>
  
  </div>
  
</div>