.principal {    
    padding:1% 5%;
    padding-bottom: 3%;   
}




/* DATA TABLE */

table td button i {
    font-size: 0.9rem;
   
}
table td {
    padding: 0px;
}
button {
    font-size: 0.5rem;
}


.card {
    margin:0px;
    margin-bottom: 1.4rem;
    max-height: 280px;
    padding-bottom:1rem; 
   
}
.card-content{
    padding:0px;
    width:100%;
    height: 100%;
}

.card-content h5{
    margin:0px;
    padding:0.5rem;
    width:100%;
}
.card.horizontal .card-image img{    
    height: 280px;
}

.card .card-content #card-footer{
    margin-top:20px;  
      
}

.tiempo{
    background: rgba(0, 0, 0, 0.651);
    color:white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom:0;
}
.card .card-reveal{
    padding:0px;
}
.card .card-reveal ul {
    margin-top:0px;
}
