<div class="col s12 mt2">
    <h5 class="center-align">{{title}}</h5>
    <div class="divider"></div>
      <!-- Listado de mensajes enviados -->
      <div class="principal mt2">
          <!--Filtro-->
          <div id="filtro" class="input-field col s12 m6">         
              <input matInput (keyup)="applyFilter($event.target.value)" type="text" id="filter_input">
              <label for="filter_input">Filtro General</label> 
          </div> 
        
          <table mat-table #table [dataSource]="dataSource" matSort class="centered">
            <!--email -->
            <ng-container matColumnDef="emailReceptor">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let mensaje"> 
                     
                      {{mensaje.emisor.email}}
                      
                    </td>
            </ng-container>
            <!--asunto 
            <ng-container matColumnDef="asunto">
                <th mat-header-cell *matHeaderCellDef> asunto </th>
                <td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
            </ng-container>
            -->    
            <ng-container matColumnDef="texto">
                <th mat-header-cell *matHeaderCellDef > body </th>
                <td mat-cell *matCellDef="let mensaje"> {{mensaje.texto}} </td>
            </ng-container>
            
            <!--attachement-->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header> Fecha Envio </th>
                <td mat-cell *matCellDef="let mensaje"> {{mensaje.createdAt | amLocale:'es' | amDateFormat:'LL'}} </td>
            </ng-container>
            <!--action-->
            <ng-container matColumnDef="consultar">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let mensaje">
                <a class="btn-small waves-effect red lighten-3" [routerLink]="['/mensajes/enviar/'+mensaje.emisor._id]">Responder</a>
              </td>
            </ng-container>
        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns" id="cabecera"> </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <!--Paginacion-->
          <mat-paginator class="mt2" #paginator
                        [pageSize]="10"
                        [pageSizeOptions]="[5, 10, 20]"
                        [showFirstLastButtons]="true">
          </mat-paginator>
        </div>
  </div>