<div class="row registro mt4">
  <div class="col s12 m10 offset-m1 modal-content">



   <div class="" >
    <div *ngIf="!this.status || this.status == 'error'">    
    <h5 class="center-align white-text"><span class="hide-on-small-only">Formulario De</span> Registro <span></span></h5>
    <div class="row mt2">
        <form [formGroup]="signinForm" id="signinForm" (ngSubmit)="submit()" class="col s12" validate>
          <div class="row">
            <div class="input-field col s12 m4 offset-m1">
              <i class="material-icons prefix">account_circle</i>
              <input id="nombre_usuario" type="text" formControlName="nombre_usuario"  name="nombre_usuario" class="validate" required>
              <label for="nombre_usuario">Nombre de Usuario</label>
              <div *ngIf="signinForm.controls.nombre_usuario.invalid && signinForm.controls.nombre_usuario.touched" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> Nombre formato invalido
              </div>
              <div *ngIf="status == 'error' " class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> El nombre de usuario ya existe
              </div>
            </div>    
            <div class="input-field col s12 m4 offset-m1">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" formControlName="email" class="validate" required>
              <label for="email">Email</label>
              <div *ngIf="signinForm.controls.email.invalid && signinForm.controls.email.touched" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> Email con formato invalido
              </div>
              <div *ngIf="status == 'error' " class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> El email ya existe
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4 offset-m1">
              <i class="material-icons prefix">https</i>
              <input id="password" type="password" formControlName="password" class="validate" required>
              <label for="password">Contraseña</label>
              <div *ngIf="signinForm.controls.password.invalid && signinForm.controls.password.touched" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> Contraseña con formato invalido.
              </div>
            </div>
            <div class="input-field col s12 m4 offset-m1">
              <i class="material-icons prefix">https</i>
              <input id="password_confirm" type="password" formControlName="password_confirm" class="validate" required>
              <label for="password_confirm">Confirmar Contraseña</label>
              <div *ngIf="signinForm.controls.password_confirm.invalid && signinForm.controls.password_confirm.touched" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> Contraseña con formato invalido.
              </div>
              <div *ngIf="signinForm.controls.password_confirm.valid && signinForm.controls.password_confirm.touched && signinForm.value.password_confirm!==signinForm.value.password" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> Contraseña deben cohincidir
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4 offset-m1 white-text">
              <i class="material-icons prefix">person</i>
              <select name="tipo" id="tipo" class="white-text" formControlName="tipo">
                <option value="" disabled selected>Elige una opción</option>
                <option value="Cliente">Cliente</option>
                <option value="Autonomo">Autónomo</option>
              </select>
              <label for="tipo">Tipo de Usuario</label> 
              <div *ngIf="signinForm.controls.tipo.invalid && signinForm.controls.tipo.touched" class="red-text center-align">
                <i class="fas fa-exclamation-circle"></i> Debe elegir un tipo de usuario.
              </div>    
            </div>
            <div class="col s12 m10 offset-m1">
                <div *ngIf="status == 'success'" class="center-align">
                    <h5><i class="fas fa-exclamation-circle"></i> usuario Registrado Correctamente</h5>
                </div>
                <p class="col s12 l6 offset-l3 center-align"><button class="waves-effect waves-red red btn" type="submit" [disabled]="signinForm.invalid">Registrar</button></p>
                <p class="col s12 l6 offset-l3 center-align">¿Tienes una cuenta? <a class="blue-text" [routerLink]="['/login']">Inicia Sesión</a></p>                  
            </div>                 
          </div>                       
               
            
        </form>
      </div>    
  </div>
  <div *ngIf="this.status=='success'">
      <h6 class="center-align white-text mb4"><span class="hide-on-small-only">Información de </span> Registro <span><i class="material-icons">assignment_ind</i></span></h6>
      <div class="col s12 m10 offset-m1 mt5 mb5">
          <div *ngIf="status == 'success'" class="center-align">
              <h6><i class="fas fa-exclamation-circle text-green"></i> Bienvenido a nuestra plataforma {{usuario.nombreUsuario}}</h6>
              <p class="center-align"><a class="waves-effect waves-red btn red" [routerLink]="['/perfil']">Aceptar</a></p>
          </div>
      </div>    
  </div>
</div>
</div>
</div>

  
