.modal-content {
    padding:0;
}

h5 {
    background-color: rgba(243, 81, 81, 0.787);;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

p a {
    cursor: pointer;
}

a {
    background-color: rgba(241, 2, 2, 0.87); 
    color: white;
}

.cerrar {
    position:absolute;
    right: 0;
}
.registro{
    background-image: url("../../../../assets/img/login/fondoLogin.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom:0px;
    padding-top:20px;
    padding-bottom: 20px;
    height: 700px;
    margin-top:auto;
    
}
.registro .modal-content{
    background-color: rgba(102, 44, 44, 0.753);
    color:white;

}
.registro .modal-content a{
    background-color: rgba(0,0,0,0.01);
}

