<div class="row mt2 fadeInLeft animated">
  <div class="col s10 offset-s1  left-align mt2">           
    <ul class="collection with-header">
      <li class="collection-header red lighten-3 white-text center-align"><h5>Información de Identificación de usuario</h5></li>
      <li class="collection-item"><i class="material-icons prefix">short_text</i> Nombre Completo: <span *ngIf="usuarioRegistrado.perfil.nombre && usuarioRegistrado.perfil.apellidos" class="right">{{usuarioRegistrado.perfil.nombre}}, {{usuarioRegistrado.perfil.apellidos}}</span></li>
      <li class="collection-item"><i class="material-icons prefix">date_range </i> Fecha nacimiento:<span *ngIf="usuarioRegistrado.perfil.fecha_nacimiento"  class="right">{{usuarioRegistrado.perfil.fecha_nacimiento | amLocale:'es' | amDateFormat:'LL'}}</span></li>
      <li class="collection-item" *ngIf="usuarioRegistrado.tipo==='Cliente'"><i class="material-icons prefix">contacts</i> dni: <span *ngIf="usuarioRegistrado.perfil.dni" class="right">{{usuarioRegistrado.perfil.dni}}</span></li>
      <li class="collection-item" *ngIf="usuarioRegistrado.tipo==='Autonomo'"><i class="material-icons prefix">contacts</i> Cif: <span *ngIf="usuarioRegistrado.perfil.cif" class="right">{{usuarioRegistrado.perfil.cif}}</span></li>
      <li class="collection-item"><i class="material-icons prefix">phone</i> Teléfono Fijo: <span *ngIf="usuarioRegistrado.perfil.telefono" class="right">{{usuarioRegistrado.perfil.telefono}}</span></li>
      <li class="collection-item"><i class="material-icons prefix">smartphone</i> Teléfono Movil: <span *ngIf="usuarioRegistrado.perfil.movil" class="right">{{usuarioRegistrado.perfil.movil}}</span></li>
      <li class="collection-item"><i class="material-icons prefix">place</i> Dirección: <span *ngIf="usuarioRegistrado.perfil.direccion && usuarioRegistrado.perfil.localidad && usuarioRegistrado.perfil.provincia && usuarioRegistrado.perfil.comunidad" class="right">
        {{usuarioRegistrado.perfil.direccion}} - {{usuarioRegistrado.perfil.localidad}} - {{usuarioRegistrado.perfil.provincia}} - {{usuarioRegistrado.perfil.comunidad}}</span></li>
    </ul>
  </div>
  <div class="row center-align mt2">
    <a [routerLink]="['/perfil/update']" class="btn waves-effect red white-text">Actualizar Perfil</a>
  </div>
</div> 
 