<div class="row login">
  <div class="col s12 m8 offset-m2 l6 offset-l3 modal-content">
    <div class="">
      <div *ngIf="!this.status|| this.status == 'error'"> 
      <h5 class="center-align white-text"><span class="hide-on-small-only">Formulario De</span> Login.</h5>
      <div class="row">
        <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="submit()" class="col s12">
          <div class="row">              
            <div class="input-field col s10 offset-s1 m8 offset-m2">
              <i class="material-icons prefix">email</i>
              <input id="emailL" type="email" name="emailL" class="validate"  formControlName="emailL" required>
              <label for="emailL">Email</label>
              <div *ngIf="loginForm.controls.emailL && loginForm.controls.emailL.invalid && loginForm.controls.emailL.touched" class="red-text center-align">
                  <i class="fas fa-exclamation-circle"></i> Email con formato invalido
              </div>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1 m8 offset-m2">
              <i class="material-icons prefix">https</i>
              <input id="passwordL" type="password" name="passwordL" class="validate"  formControlName="passwordL">
              <label for="passwordL">Contraseña</label>
              <div *ngIf="loginForm.controls.passwordL.invalid && loginForm.controls.passwordL.touched" class="red-text center-align">
                  <i class="fas fa-exclamation-circle"></i> Contraseña con formato invalido.
                </div>
            </div>
          </div>
          <div class="modal-footer mb3">
            <p class="center-align"><button class="waves-effect waves-red btn red" type="submit" [disabled]="loginForm.invalid">iniciar sesión</button></p>
          </div>
          <div class="col s12 m10 offset-m1 mb2">
            <div *ngIf="status == 'error'" class="center-align">
                <h6><i class="fas fa-exclamation-circle text-red"></i> No existe el usuario con esta combinación de email y contraseña. </h6>
            </div>
            <p class="col s12 l6 center-align">¿No tiene una cuenta? <a class="blue-text " [routerLink]="['/registro']">Cree una.</a></p>
            <p class="col s12 l6 center-align"><a class="blue-text  modal-trigger" data-target="modal3">¿Has olvidado la contraseña?.</a></p>
          </div>
        </form>
      </div>
    </div>
  <div *ngIf="this.status=='success'">
    <h5 class="center-align white-text"><span class="hide-on-small-only">Información de </span> Login <span><i class="material-icons">assignment_ind</i></span></h5>
    <div class="col s12 m10 offset-m1 ventanaogin">
        <div class="">
        <div *ngIf="status == 'success'" class="center-align">
            <h6><i class="fas fa-exclamation-circle white-text-"></i> Bienvenido a nuestra plataforma {{usuario.nombreUsuario}} </h6>
            <p class="center-align"><a class="waves-effect waves-red btn red" [routerLink]="['/perfil']">Aceptar</a></p>
        </div>
        </div>
    </div>          
  </div>  
  
 
</div>
</div>
