<div class="row center-align mt-4 fadeInRight animated">
    <div class="col s10 offset-s1 m6 l5 offset-l1 push-m6 push-l5 push-xl5">
        <img src="assets/main/descripcion.jpg" alt="" class="responsive-img z-depth-1">
      </div> 
      
  <div class="col s12 m6 l5 pull-m6 pull-l5 pull-xl5">
      <h5 >¿En que tipo de proyectos estas especializado?</h5>
      <div class="divider"></div>
      <p class="left-align">Si buscas trabajos y eres un trabajador con cualidades para desarrollar proyectos. Registrate y comienza a consultar proyectos adaptados a tus cualidades</p>
      <a [routerLink]="['/proyectos']" class="btn waves-effect waves-yellow red darken-2">Consultar Proyecto</a>
    </div> 
  <hr class="col s12 mt4 mb2">
  <div class="col s12 ">
    <h5 class="mb2 mt2">Realiza búsqueda de empleo filtrando resultado por los campos mas importantes:</h5>
    <div class="row">
      <ul class="collection left-text z-depth-1">
        <li class="collection-item avatar green lighten-5 ">
            <i class="fas fa-money-bill-alt circle green"></i>
          <h5>Coste</h5>           
          <p class="grey-text">Filtra por coste aproximado del proyecto y si el proyecto tiene coste fijo o por horas.</p>           
        </li>
        <li class="collection-item avatar red lighten-5">
            <i class="fas fa-map-marker circle red"></i>
          <h5 >Habilidades</h5>
          <p class="grey-text">Filtra por habilidades para que prespueste trabajos a tu medida y capacidad.</p>            
        </li>
        <li class="collection-item avatar cyan lighten-5">
            <i class="fas fa-users-cog circle cyan"></i>
          <h5 >Ubicacion</h5>
          <p class="grey-text">Filtra por ubicación para que decida hasta donde quiere ir.</p>            
        </li>
      </ul>    
    </div>  
  </div>  
</div>
<hr>
<div class="row mt-2" id="pasos-trabajador">
    <h5 class="center-align">Sigue los siguientes pasos para encontrar trabajo.</h5>
    <mat-vertical-stepper class="col s12 m10 l8" #stepper>
      <mat-step>
        <ng-template matStepLabel>Registrate</ng-template>
        <div class="row">
          <span class="col s1"><i class="fab fa-wpforms circle"></i></span> 
          <span class="col s10">Rellena nuestro formulario para registro, son solo unos pocos pasos.</span>      
        </div>         
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Busca Trabajo</ng-template>
        <div class="row">
            <span class="col s1"><i class="fas fa-binoculars circle"></i></span> 
            <span class="col s10">Busqueda filtrada por la información mas relevante para que encuentres proyectos a tu medida.</span>      
        </div>
        <div class="center-align">        
          <a [routerLink]="['/proyectos']"class="btn waves-effect red darken-2 white-text">Buscar Proyectos</a>
        </div>      
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Mantente Comunicado</ng-template>        
        <div class="row">
          <span class="col s1 ml2 "><i class="fab fa-wpforms circle"></i></span> 
          <span class="col s10">Si quieres tener exito conecta con los clientes a través de nuestra plataforma de mensajes privados.</span>      
        </div>       
      </mat-step>   
      
      
    </mat-vertical-stepper>
    <img src="./assets/img/como-funciona/step1.jpg" alt="" class="hide-on-med-and-down col l4">
  </div>
