ul li h5 {
    margin-top:1%;
}

ul li i {
    margin-top:1.5%;    
}

#pasos-trabajador span i {
    font-size:2rem;
    padding: 10px;
    background-color: rgba(245, 237, 237, 0.493);   
    color:rgb(241, 108, 103);
} 

#pasos-trabajador span {
    margin-right: 2%;
}   