<header>
  
    <div *ngIf="!isRegistrado()" class="imagen"><img src="./assets/carrusel/carruselR1.jpg"></div>
    <div *ngIf="isRegistrado() && !isCliente()" class="imagen"><img src="./assets/carrusel/carrusel2.jpg"></div>
    <div *ngIf="isRegistrado && isCliente()" class="imagen"><img src="./assets/carrusel/carrusel3.jpg"></div>     
  
</header>





