/* DATA TABLE */

table tr:nth-of-type(2n+1) {
    background-color: rgb(255, 245, 245);
}

table th {
    font-size: 1rem;
    background-color: rgba(228, 11, 11, 0.966);
    color: white;
    text-align:center;      
}



table td{
    font-size: 0.8rem;
}

table th.mat-header-cell:nth-child(2)  {
    padding-left: 5%;
}
table td button i {
    font-size: 0.9rem;
   
}
button {
    font-size: 0.5rem;
}
.modal.bottom-sheet {
    max-height: 100%;
}