<div class="principal">
        <div class="row">
          <!--Filtro-->
          <div class="col s12">
              <div id="filtro" class="input-field">         
                  <input matInput (keyup)="applyFilter($event.target.value)" type="text" id="filter_input">
                  <label for="filter_input">Filtro</label> 
              </div> 
            
              <table mat-table #table [dataSource]="dataSource" matSort class="centered">
                <!--Id -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef style="display:none" ></th>
                    <td mat-cell *matCellDef="let element" [ngSwitch]="element.categoria"> 
                  
                      <div class="card">
                                               
                        <div class="card-content">
                          <h5 *ngSwitchCase="'Pintura'" class="categoria amber lighten-2 white-text z-depth-1"><i  class="fas fa-paint-brush prefix"></i> {{element.categoria}}</h5>
                          <h5 *ngSwitchCase="'Construccion'" class="categoria green accent-2 white-text z-depth-1"><i class="fas fa-gavel prefix"></i> {{element.categoria}}</h5>
                          <h5 *ngSwitchCase="'Fontaneria'" class="categoria light-blue accent-3 white-text z-depth-1"> <i class="fas fa-wrench prefix"></i> {{element.categoria}}</h5>
                          <h5 *ngSwitchCase="'Electricidad'" class="categoria pink accent-3 darken-3 white-text z-depth-1"> <i class="fas fa-plug prefix"></i> {{element.categoria}}</h5>
                          <h5 *ngSwitchCase="'Carpinteria'" class="categoria purple white-text z-depth-1"><i class="fas fa-screwdriver prefix"></i> {{element.categoria}}</h5>
                            <h6 class="">{{element.descripcion_breve}}</h6>
                            <div class="divider"></div>
                            <ul class="collection with-header left-align">                              
                                <li class="collection-item"><p><i class="fas fa-align-left prefix"></i> Descripción: {{element.descripcion_completa}}</p></li>
                                <li class="collection-item"><p><i class="fas fa-map-marker-alt prefix"></i> Dirección: <span class="right">{{element.direccion}} - {{element.localidad}} - {{element.provincia}} - {{element.comunidad}}</span></p></li>
                                <li class="collection-item"><p><i class="fas fa-project-diagram prefix"></i> Tamaño del proyecto: <span class="right">{{element.size}}</span></p></li>                                <li class="collection-item">
                                    <p><i class="fas fa-bullseye prefix"></i>Incluir Materiales: 
                                    <span class="right" *ngIf="element.incluir_material"><i class="fas fa-times red-text"></i></span>
                                    <span class="right" *ngIf="!element.incluir_material"><i class="fas fa-check green-text"></i></span>
                                    
                                    </p>
                                </li>
                                <li class="collection-item"><p><i class="fas fa-money-bill-wave prefix"></i> Presupuesto: <span class="right">{{element.precio}}€/hora</span> </p></li>
                                <li class="collection-item"><p><i class="far fa-calendar-alt prefix"></i> Fecha de creación: <span class="right">{{element.creado_en | amLocale:'es'| amTimeAgo}}</span></p></li>
                            </ul>                                           
                        </div>                                             
                      </div>                           
                    </td>
                </ng-container>
               
                <tr mat-header-row *matHeaderRowDef="displayedColumns" id="cabecera"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <!--Paginacion-->
              <mat-paginator #paginator
                            [pageSize]="10"
                            [pageSizeOptions]="[5, 10, 20]"
                            [showFirstLastButtons]="true">
              </mat-paginator>
          </div>
          <div class="">
              <a id="crear" class="btn-floating btn-large waves-effect waves-light red" [routerLink]="['/perfil/proyectos/crear']"><i class="material-icons">add</i></a>

          </div>
        
        </div>
        
      </div>